header {
  -webkit-app-region: drag;
  height: 45px;
  padding-top: 7px;

  display: grid;

  grid-template-columns: 80px 1fr 1fr 1fr;
  grid-template-areas: "x controls playing search";

  justify-items: center;
}

#controls {
  grid-area: "controls";
  justify-self: start;
}

#playing {
  grid-area: "playing";
}

#search {
  grid-area: "search";
  justify-self: end;
  margin-right: 15px;
}

#txtSearch {
  height: 25px;
}
